.container{
    width: 95%;
    /* margin: auto; */
    color: #11698E;
}

.clr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 12%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 3px #E7D9EA;
  }
  
  .flitm{
    margin-left: -200px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .img{
      width: 4%;
      border-radius: 50%;
  }

  .removeDecoration{
    text-decoration: none;
    color: #11698E;
  }

  .clr{
    transform: scale(1);
    transition: transform 0.2s ease-in;
  }

  .clr:hover{
    color: #11698E;
    transform: scale(1.05);
    /* background-color: black; */
  }